 :80 {
      handle /api/* {
          reverse_proxy expenses-tracker-api:3002
      }

      handle {
          root * /srv
          encode gzip
          file_server
          try_files {path} /index.html
      }
  }