# dependencies
node_modules

# output
out
dist
dist-ssr
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# env
.env
*.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# OS
.DS_Store

# editors/IDEs
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
